* {
    box-sizing: border-box;
    user-select: none;
}
.signup-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
}
.signup-card {
    width: 25rem;
    border: 1px solid #E0E0E0;
    padding: 1rem;
}
.signup-msg {
    color: #808080;
    margin: 0.5rem 0 0.5rem 0;
}
#outlined-basic {
    height: 1rem;
}
.upload-btn {
    margin-top: 0.5rem;
}
.upload-icon {
    margin: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.signup-btn {
    margin-top: 2.5rem;
}
.tnc {
    margin: 1.5rem 0 0.5rem 0;
    color: #808080;
}
.bottom-card {
    width: 25rem;
    padding: 1rem;
    margin: 1.5rem 0 1.5rem 0;
    color: #808080;
    border: 1px solid  #E0E0E0;
}
.login-btn-in-signup {
    color: blueviolet;
    cursor: pointer;
}