.feed-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upload-btn {
    margin-top: 1rem;
}
.videos-cont {
    height: 70vh;
    overflow-y: scroll;
}
.videos-cont::-webkit-scrollbar {
    display: none;
}
.post-cont {
    width: 20rem;
    height: 100%;
    margin-top: 1rem;
    position: relative;
}
.actual-post, .detailed-post {
    width: 20rem;
    height: 100%;
    /* background-color: pink; */
    border-radius: 20px;
    border: 1px solid black;
    object-fit: contain;
    position: absolute;
}
.detailed-post {
    border: none;
}
.videos-info {
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.avatar-cont, .post-like {
    display: flex;
    align-items: center;
}
.avatar-cont>*, .post-like>* {
    margin-right: 1rem;
}
.post-like {
    float: right;
}
.likes {
    color: red;
}
.modal-cont {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}
.video-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80vh;
}
.video-modal>video {
    width: 100%;
    height: 100%;
}
.comments-modal {
    width: 50%;
    height: 100%;
}
.card1 {
    height: 70vh;
    padding: 0.5rem;
    /* overflow-y: scroll; */
}
.card2 {
    padding: 0.5rem;
    width: 100%;
}
.post-like2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.comment {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}
.comment p {
    margin-left: 1rem;
}
