.navbar-cont {
    background-color: white;
    /* box-shadow: none; */
    /* margin-top: 1rem; */
}
.insta-logo {
    padding: 0.6rem;
}
.nav-icons-cont {
    display: flex;
    align-items: center;
    color: black;
}
.nav-icons {
    margin-right: 1rem;
}
@media screen and (max-width: 500px) {
    .nav-icons {
        display: none;
    }
}