* {
    box-sizing: border-box;
    user-select: none;
}
.profile-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.profile-avatar>* {
    width: 8rem;
    height: 8rem;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 5rem;
    padding: 0.1rem;
}
.profile-posts-cont {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}
.profile-posts {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 2rem 20rem 5rem 20rem;
    /* border: 2px solid green; */
}
.profile-posts>video {
    width: 16.1rem;
    height: 30rem;
    border: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
}